.usersList {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    min-width: 100%;
}

@media screen and (max-width: 925px) {
    .usersList {
        padding: 20px;
    }
}