.userCart {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.247);
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    box-sizing: border-box;
    
    .avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        cursor: pointer;
    }

    .name {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .status {
        width: 70%;
    }

    .settings {
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        right: 20px;

        .settingsButton {
            width: 150px;
        }
    }
}