.postCommentsListWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.postCommentsEmptyList {
    display: flex;
    flex-direction: column;
    align-items: center;

    .icon {
        font-size: 30px;
    }
}