.filterPanel {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 100%;
    padding: 20px;
    box-sizing: border-box;
    
    .filters {
        display: flex;
        gap: 10px;
        width: 100%;

        .filterInput {
            width: 250px;
        }
    }
}