.filterPanel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    
    .filters {
        display: flex;
        gap: 10px;
        width: 70%;

        .filterInput {
            width: 250px;
        }
    }
}