.profileWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 50px);
    box-sizing: border-box;

    .profileContent {
        display: flex;
        flex-direction: column;
        border-radius: 25px;
        width: 60vw;
        padding: 25px;
        box-sizing: border-box;
        
        .header {   
            display: flex;
            align-items: center;
            gap: 10px;

            .avatar {
                position: relative;

                .avatarImage {
                    border-radius: 50%;
                    width: 250px;
                    height: 250px;
                }
                
                .changeAvatarIcon {
                    position: absolute;
                    top: 180px;
                    left: 200px;
                    font-size: 50px;
                    cursor: pointer;
                    color: rgb(66, 138, 240);
                }
            }

            .info {
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                height: 50%;   
                gap: 10px;

                .name {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 25px;
                    font-weight: 600;

                    .editIcon {
                        cursor: pointer;

                        &:hover {
                            color: rgb(66, 138, 240);
                        }
                    }
                }

                .status {
                    min-height: 80px;
                    max-height: 80px;
                    overflow-y: auto;
                }

                .settings {
                    display: flex;
                    gap: 10px;
                }
            }
        }

        .createPostsButton {
            width: 200px;
        }

        .icon {
            font-size: 20px;
        }

        .loader {
            margin-top: 10%;
        }
    }
}