.profileWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 50px);
    box-sizing: border-box;
}

@media screen and (max-width: 1370px) {
    .profileWrapper {
        .profileContent {
            width: 70vw;
        }
    }
}

@media screen and (max-width: 1170px) {
    .profileWrapper {
        .profileContent {
            width: 80vw;
        }
    }
}

@media screen and (max-width: 1030px) {
    .profileWrapper {
        .profileContent {
            width: 90vw;
        }
    }
}

@media screen and (max-width: 910px) {
    .profileWrapper {
        .profileContent {
            width: 100vw;
        }
    }
}

@media screen and (max-width: 730px) {
    .profileWrapper {
        .profileContent {
            .header {
                flex-direction: column;

                .info {
                    height: auto;

                    .name {
                        justify-content: center;
                    }

                    .settings {
                        justify-content: space-between;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 570px) {
    .profileWrapper {
        .profileContent {
            .header {
                flex-direction: column;

                .info {
                    .settings {
                        justify-content: center;
                    }
                }
            }
        }
    }
}