.authWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

    .authFormMain {
        display: grid;
        row-gap: 10px;
    }

    .authForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 400px;
        height: 500px;
        background-color: var(--bg-color);
        box-sizing: border-box;
        padding: 20px;
        border: 1px solid rgba(128, 128, 128, 0.247);
        border-radius: 5px;
    }
    
    .authFormHeader {
        margin-bottom: 20px;
    }

    .authFormFooter {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .ant-form-item .ant-form-item-label > label {
        color: var(--text-color);
    }
        
    .link {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        cursor: pointer;
        color: var(--text-color);
        text-decoration: underline;

        &:hover {
            color: blue;
        }
    }

    .title {
        font-size: 24px;
        color: var(--text-color);
    }
}

@media screen and (max-width: 420px) {
    .authWrapper {
        .authForm {
            width: calc(100% - 20px);    
        }
    }
}