.statusEditor {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .textArea {
        height: 100px;
        max-height: 100px;
    }

    .settings {
        display: flex;
        gap: 20px;
    }

}