.mainWrapper {
    display: flex;
    margin-left: 200px;
    margin-top: 20px;
}
.layoutWrapper {
    width: 70vw;
    display: flex;
    margin-top: 20px;
}
.mainHeader {
    position: fixed;
    left: 0;
    top: 0;
    height: 50px;
    background-color: black;
    backdrop-filter: blur(20px);
    width: 100vw;
    z-index: 100;
}
@media screen and (max-width: 1305px) {
    .layoutWrapper {
        width: 80vw;
    }
}

@media screen and (max-width: 1155px) {
    .layoutWrapper {
        width: 90vw;
    }
}

@media screen and (max-width: 1015px) {
    .layoutWrapper {
        width: 100vw;
    }
}

@media screen and (max-width: 925px) {
    .mainWrapper {
        margin-left: 150px;
    }
}

@media screen and (max-width: 865px) {
    .mainWrapper {
        margin-left: 0px;
        margin-top: 50px;
    }
}