.mainWrapper {
    display: flex;
    margin-left: 200px;
    margin-top: 50px;
    width: 100%;
}
.layoutWrapper {
    width: 70vw;
    display: flex;
    margin-top: 20px;
}
.mainHeader {
    display: flex;
    align-items: center;
    padding: 5px calc(15vw + 10px) 5px calc(15vw + 10px);
    gap: 10px;
    position: fixed;
    left: 0;
    top: 0;
    height: 50px;
    background-color: black;
    backdrop-filter: blur(20px);
    width: 100vw;
    z-index: 110;

    .mainHeaderAvatarWrapper {
        display: flex;
        align-items: center;
        gap: 10px;
        position: absolute;
        right: calc(15vw - 10px);
        cursor: pointer;
        height: 100%;
        padding: 5px;
        
        .mainHeaderUserAvatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }

        &:hover {
            background-color: rgba(128, 128, 128, 0.234);
        }
    }
}
@media screen and (max-width: 1305px) {
    .layoutWrapper {
        width: 80vw;
    }
    .mainHeader {
        padding: 5px calc(10vw + 10px) 5px calc(10vw + 10px);

        .mainHeaderAvatarWrapper {
            right: calc(10vw - 10px);
        }
    }
}

@media screen and (max-width: 1155px) {
    .layoutWrapper {
        width: 90vw;
    }
    .mainHeader {
        padding: 5px calc(5vw + 10px) 5px calc(5vw + 10px);

        .mainHeaderAvatarWrapper {
            right: calc(5vw - 10px);
        }
    }
}

@media screen and (max-width: 1015px) {
    .layoutWrapper {
        width: 100vw;
    }
    .mainHeader {
        padding: 5px calc(1.5vw) 5px calc(1.5vw);

        .mainHeaderAvatarWrapper {
            right: calc(2.5vw);
        }
    }
}

@media screen and (max-width: 925px) {
    .mainWrapper {
        margin-left: 0px;
        margin-top: 50px;
    }
    .mainHeader {
        display: none;
    }
    .layoutWrapper {
        margin-top: 0px;
    }
}