.profileContent {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    width: 60vw;
    padding: 25px;
    box-sizing: border-box;
    
    .header {   
        display: flex;
        align-items: center;
        gap: 10px;

        .avatar {
            position: relative;

            .avatarImage {
                border-radius: 50%;
                width: 250px;
                height: 250px;
            }
            
            .changeAvatarIcon {
                position: absolute;
                top: 180px;
                left: 200px;
                font-size: 50px;
                cursor: pointer;
                color: rgb(66, 138, 240);
            }
        }

        .info {
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: 250px;   
            gap: 10px;

            .name {
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 25px;
                font-weight: 600;

                .editIcon {
                    cursor: pointer;

                    &:hover {
                        color: rgb(66, 138, 240);
                    }
                }
            }

            .status {
                text-align: justify;
            }

            .settings {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
            }
        }
    }

    .createPostsButton {
        width: 200px;
    }

    .icon {
        font-size: 20px;
    }

    .loader {
        margin-top: 10%;
    }
}


@media screen and (max-width: 1370px) {
    .profileContent {
        width: 70vw;
    }
}

@media screen and (max-width: 1170px) {
    .profileContent {
        width: 80vw;
    }
}

@media screen and (max-width: 1030px) {
    .profileContent {
        width: 90vw;
    }
}

@media screen and (max-width: 910px) {
    .profileContent {
        width: 100vw;
    }
}

@media screen and (max-width: 730px) {
    .profileContent {
        .header {
            flex-direction: column;

            .info {
                height: auto;

                .name {
                    justify-content: center;
                }

                .settings {
                    justify-content: space-between;
                }
            }
        }
    }
}

@media screen and (max-width: 570px) {
    .profileContent {
        .header {
            flex-direction: column;

            .info {
                .settings {
                    justify-content: center;
                }
            }
        }
    }
}