.likesList {
    display: flex;
    gap: 5px;

    .like {
        .userAvatarWrapper {
            .userAvatarImage {
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }
        }
    }
}

.postLikes {
    display: flex;
    align-items: center;
    gap: 3px;
    
    .activeLike {
        color: rgb(66, 138, 240);
    }

    .inActiveLike {
        color: white;
    }
}