.postsCreator {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .textArea {
        min-height: 150px;
        max-height: 150px;
    }

    .formSubmit {
        margin-top: 20px;
    }
}