.postsList {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 20px;
    gap: 20px;

    .post {
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: rgba(128, 128, 128, 0.05);
        padding: 20px;
        border-radius: 25px;
        position: relative;
        min-height: 100px;
        
        .footer {
            display: flex;
            gap: 10px;
            position: absolute;
            right: 20px;
            bottom: 20px;

            .item {
                display: flex;
                align-items: center;
                gap: 3px;
            }
        }

        .deletePostIcon {
            position: absolute;
            right: 20px;
            cursor: pointer;
            display: none;

            &:hover {
                color: red;
            }
        }

        &:hover {
            .deletePostIcon {
                display: block;
            }
        }
    }
}
.emptyPostsList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .icon {
        font-size: 100px;
    }

    h2 {
        text-align: center;
    }
}