.menu {
    width: 200px;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    gap: 20px;
    z-index: 10;
    padding: 50px 20px 20px 20px;

    .fixedItem {
        display: flex;
        align-items: center;
        gap: 10px;
        right: 50px;
        cursor: pointer;

        &:hover {
            color: white;
        }
    }

    .item {
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;

        &:hover {
            color: white;
        }
    }

    .icon {
        font-size: 20px;
    }
}

@media screen and (max-width: 925px) {
    .menu {
        width: 150px;
    }
}

@media screen and (max-width: 865px) {
    .menu {
        flex-direction: row;
        position: fixed;
        width: 100vw;
        height: 50px;
        padding: 20px;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.419);
        backdrop-filter: blur(20px);
    }
}