.postsList {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 20px;
    gap: 20px;
}

.emptyPostsList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .icon {
        font-size: 100px;
    }

    h2 {
        text-align: center;
    }
}