.filterPanel {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 100%;
    padding-bottom: 20px;
    box-sizing: border-box;
    
    .filters {
        display: flex;
        gap: 10px;
        width: 100%;

        .filterInput {
            width: 250px;
        }
    }
}

@media screen and (max-width: 925px) {
    .filterPanel {
        padding: 20px;
    }
}