.friendsList {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
.emptyList {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    
    .title {
        font-size: 20px;
    }
    
    .content {
        cursor: pointer;
        text-decoration: underline;

        &:hover {
            color: #1677ff;
        }
    }
}